standard_bank/CreditOperations_APP/CreditOperationsSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                            
  
  
  
  
  
  
  
  
  
  
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
                            
  
  
  
  
  
  
  
  
  
  
  
  <xsd:annotation>
                                                		
    
    
    
    
    
    
    
    
    
    
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                                                                        			
      
      
      
      
      
      
      
      
      
      
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
                                                                        		
    
    
    
    
    
    
    
    
    
    
    
    </xsd:appinfo>
                                                	
  
  
  
  
  
  
  
  
  
  
  
  </xsd:annotation>
                        	
  
  
  
  
  
  
  
  
  
  
  
  <xsd:element ibmSchExtn:docRoot="true" name="CreditOperationsSchema">
                                                		
    
    
    
    
    
    
    
    
    
    
    
    <xsd:complexType>
                                                                        			
      
      
      
      
      
      
      
      
      
      
      
      <xsd:sequence dfdl:separator="">
                                                                                                				
        
        
        
        
        
        
        
        
        
        
                                                                                        			
				
        
        
        
        
        
        
        
        
        
        
        
        <xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
                                                                                                                        					
          
          
          
          
          
          
          
          
          
          
          
          <xsd:complexType>
                                                                                                                                                						
            
            
            
            
            
            
            
            
            
            
            
            <xsd:sequence>
                                                                                                                                                                         
							
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="implicit" ibmDfdlExtn:sampleValue="" name="MSG_ID">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="25"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="25"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                        							
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="implicit" ibmDfdlExtn:sampleValue="" name="CRED_OPR_NUIB">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="15"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="15"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                        							
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="implicit" ibmDfdlExtn:sampleValue="" name="CRED_OPR_REFERENCE">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="25"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="25"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="implicit" ibmDfdlExtn:sampleValue="" name="CRED_OPR_STATUS">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="3"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="3"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="implicit" ibmDfdlExtn:sampleValue="" name="CRED_OPR_RENEG_LITG">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="3"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="3"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="pattern" dfdl:lengthPattern="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])" name="CRED_OPR_RENOGLITG_DATE" type="xsd:date"/>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" minOccurs="0" name="CRED_OPR_TOT_DISB">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="25"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_OUT_CAPITAL">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="25"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_OVERDURE_CAP">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="25"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_ACCR_INTR">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="25"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_ACCR_INTRARRE">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="25"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_INST_VALUE">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="25"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_REF_INTRATE">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="15"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_EFF_INTRATE">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="15"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_LATE_INTRATE">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:minLength value="1"/>
                                                                                                                                                                                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    <xsd:maxLength value="15"/>
                                                                                                                                                                                                      
                  
                  
                  
                  
                  
                  
                  
                  
                  </xsd:restriction>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="pattern" dfdl:lengthPattern="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])" minOccurs="0" name="CRED_OPR_START_DELAY" type="xsd:date"/>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="delimited" dfdl:lengthPattern="\d+" dfdl:textNumberPattern="0" name="CRED_OPR_NOF_LATEDAYS">
                                                                                                                                                
                
                
                
                
                                                                                              
              
              
              
              
                                              
                
                
                <xsd:simpleType>
                                                      
                  
                  <xsd:restriction base="xsd:long">
                                                            
                    
                    <xsd:minInclusive value="-9223372036854775808"/>
                                                            
                    
                    <xsd:maxInclusive value="9223372036854775807"/>
                                                                                                  
                    
                    <xsd:totalDigits value="5"/>
                                                                            
                  
                  </xsd:restriction>
                                                    
                
                </xsd:simpleType>
                                                                            
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element dfdl:lengthKind="delimited" dfdl:lengthPattern="\d+" dfdl:textNumberPattern="0" name="CRED_OPR_NOF_OVDINST">
                                                                                                                                                                
                
                
                
                
                
                                                                                                                              
              
              
              
              
              
                                              
                
                
                <xsd:simpleType>
                                                      
                  
                  <xsd:restriction base="xsd:long">
                                                            
                    
                    <xsd:minInclusive value="-9223372036854775808"/>
                                                            
                    
                    <xsd:maxInclusive value="9223372036854775807"/>
                                                                                                  
                    
                    <xsd:totalDigits value="5"/>
                                                                            
                  
                  </xsd:restriction>
                                                    
                
                </xsd:simpleType>
                                                                            
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_VAL_PROV">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string"/>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                    
              
              
              
              
              
              
              
              
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="CRED_OPR_IMP_VAL">
                                                                                                                                                                
                
                
                
                
                
                
                
                
                <xsd:simpleType>
                                                                                                                                                                                    
                  
                  
                  
                  
                  
                  
                  
                  
                  <xsd:restriction base="xsd:string"/>
                                                                                                                                                                                  
                
                
                
                
                
                
                
                
                </xsd:simpleType>
                                                                                                                                                              
              
              
              
              
              
              
              
              
              </xsd:element>
                                                                                                                                                                                                
            
            
            
            
            
            
            
            
            
            
            
            </xsd:sequence>
                                                                                                                                                					
          
          
          
          
          
          
          
          
          
          
          
          </xsd:complexType>
                                                                                                                        				
        
        
        
        
        
        
        
        
        
        
        
        </xsd:element>
                                                                                                				
			
      
      
      
      
      
      
      
      
      
      
      
      </xsd:sequence>
                                                                        		
    
    
    
    
    
    
    
    
    
    
    
    </xsd:complexType>
                                                	
  
  
  
  
  
  
  
  
  
  
  
  </xsd:element>
                        











</xsd:schema>
